/* =================================================================== */
/* $Revision: 1.18 $ $Date: 2005/02/10 11:55:03 $                      */
/* =================================================================== */
/* dunkelblau #0A50A1 rgb(10, 80, 161)                                 */
/* tuerkis rgb(128, 197, 221);                                         */
/* beige #9A5B11;  rgb(154,91, 17)                                     */
/* helles beige rgb(174,111, 37);                                      */
/* lichtes hellblau rgb(245, 255, 255);                                */
/* hintergrund: beige: #FDEDDB                                         */
/* =================================================================== */
/* Docdetails                                                          */
/* =================================================================== */
	
table.docdetails-table {
	border-spacing: 0px;
}

th.docdetails-header {
	background-color: #CCDBEB;
	padding: 10px 5px 10px 5px;
	vertical-align: bottom;
	border-bottom: 5px solid white;
}

td.docdetails-infolabel,
td.docdetails-label {
	text-align:right;
	background-color: #E6EDF5;
	padding: 4px;
	vertical-align: top;
	border-bottom: 4px solid white;
	white-space:nowrap;
}

td.docdetails-values {
	border-bottom: 4px solid white;
	padding-left: 10px;
	width:90%;
}

td.docdetails-preview {
	vertical-align: top;
}

td.docdetails-preview img {
	padding: 10px;
	border: none;
}

table.docdetails-values-table {
	border-spacing: 4px;
}
td.docdetails-value {
     padding-left: 20px;
     vertical-align: top;
     line-height: 125%;
}

td.docdetails-value-bold {
     padding-left: 20px;
     vertical-align: top;
     font-weight:bold;
     line-height: 125%;
     
}


td.docdetails-separator hr {
	border: none;
	background-color: #0A50A1;
	color: #0A50A1;
	height: 1px;
}

dl.docdetails-derivate-list {
	margin: 0px;
	padding-bottom: 10px
}

dl.docdetails-derivate-list dd {
	padding-top: 5px;
	padding-bottom: 0px;
}

dl.docdetails-derivate-list img {
	border: 0px;
	padding-right: 10px;
}

.docdetails-value a {
	color: #9A5B11;
	text-decoration: none;
}

.docdetails-value a:hover {
	text-decoration: underline;
}

.docdetails-value a img {
	border: none;
}

.docdetails-value ul {
	list-style-position: outside;
	list-style-type: disc;
	padding-left:24px;

}

/* =================================================================== */
/* Toolbar on docdetails page                                          */
/* =================================================================== */

div.docdetails-toolbar{
    padding-bottom:8px;
    
}
div.docdetails-toolbar-item{
    float:left;
    padding-left:6px;
	padding-right:6px;
    padding-bottom:4px;
    
}


/* =================================================================== */
/* Info Hover (button + messagebox on mouse over)                      */
/* =================================================================== */
div.docdetails-infohover a {
	font: bold 10px courier, sans-serif;
	text-decoration: none;
	display: boxed;
 	padding: 1px;
        border: 1px solid black;
}

div.docdetails-infohover a:link,
div.docdetails-infohover a:visited,
div.docdetails-infohover a:focus,
div.docdetails-infohover a:active{
	text-decoration: none !important;
	border: 1px solid #004A99;
	color: #004A99 !important;
	background: #E6E6E6;
}

div.docdetails-infohover a:hover {
	text-decoration: none !important;
	border: 1px solid #666666;
	color: #666666 !important;
	background: #ffff88;
	
}

div.docdetails-infohover a span {
	display: none;
}

div.docdetails-infohover a:hover span {
	position: fixed;
	bottom: 20px;
	left: 40px;
	z-index: 30;
	text-align: justify;
	display: block;
	color: #0A50A1;
	width: 300px;
	background: #ffff88;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	border-width: 2px;
	border-color: #004A99;
	border-style: outset;
	padding: 10px;
	white-space: normal !important;
}

/* Star Hack - this entry is only interpreted by IE 
   necessary, because it cannot handle position:fixed correctly */
* html * div.docdetails-infohover a:hover span {
	position: absolute !important;
}


/* =================================================================== */
/* special cases
/* =================================================================== */

ul.pndbeaconlist{
	margin-top: 8px;
}
