/* =================================================================== */
/* $Revision: 1.18 $ $Date: 2005/02/10 11:55:03 $                      */
/* =================================================================== */
/* dunkelblau #0A50A1 rgb(10, 80, 161)                                 */
/* tuerkis rgb(128, 197, 221);                                         */
/* beige #9A5B11;  rgb(154,91, 17)                                     */
/* helles beige rgb(174,111, 37);                                      */
/* lichtes hellblau rgb(245, 255, 255);                                */
/* hintergrund: beige: #FDEDDB                                         */
/* =================================================================== */
/* Docdetails                                                          */
/* =================================================================== */
	
div.docdetails-table {
	border-spacing: 0px;	
}

div.docdetails-header {
	
	padding: 10px 5px 10px 5px;
	vertical-align: bottom;
	border-bottom: 5px solid white;
	min-height:16px;
}

div.docdetails-header h2{
	text-align: left;
}

div.docdetails-block{
	clear: both;
	padding-top:6px;
}

div.docdetails-infolabel,
div.docdetails-label {
	display:inline;
	float:left;
	padding: 4px;
	border-bottom: 4px solid white;
	white-space:nowrap;
	/*font-weight: bold;*/
	font-size: 85%;
	font-weight:bold;
	color:#565656;
	font-family: Verdana,Arial,sans-serif
}

div.docdetails-values {
	clear:both;
	border-bottom: 4px solid white;
	padding-left: 12px;
	font-size:100%;
}

div.docdetails-preview {
	vertical-align: top;
}

div.docdetails-preview img {
	padding: 10px;
	border: none;
}

table.docdetails-values-table {
	border-spacing: 4px;
}
td.docdetails-value {
     padding-left: 20px;
     vertical-align: top;
     line-height: 125%;
     padding-bottom:4px;
}

td.docdetails-value-bold {
     padding-left: 20px;
     vertical-align: top;
     font-weight:bold;
     line-height: 125%;
     padding-bottom:4px;    
}


div.docdetails-separator {
	margin-top:12px;
}
div.docdetails-separator hr {
	border: none;
	background-color: #565656;
	color: #565656;
	height: 1px;	
}

dl.docdetails-derivate-list {
	margin: 0px;
	padding-bottom: 10px
}

dl.docdetails-derivate-list dd {
	padding-top: 5px;
	padding-bottom: 0px;
}

dl.docdetails-derivate-list img {
	border: 0px;
	padding-right: 10px;
}


.docdetails-value a img {
	border: none;
}

.docdetails-value ul {
	list-style-position: outside;
	list-style-type: disc;
	padding-left:24px;

}

/* =================================================================== */
/* Toolbar on docdetails page                                          */
/* =================================================================== */

div.docdetails-toolbar{
    padding-bottom:8px;
    clear: both;        
}
div.docdetails-toolbar-item{
    float:left;
    padding-left:6px;
	padding-right:6px;    
}

div.docdetails-image{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:6px;
	padding-right:6px;
}

div.docdetails-image img{
	display: block;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

/* =================================================================== */
/* Info Hover (button + messagebox on mouse over)                      */
/* =================================================================== */
div.docdetails-infohover a {
	float: left;
    font-size: 0.8em;
    text-decoration: none;
    color: #565656!important;
    padding:6px;
}

div.docdetails-infohover a:hover {
	text-decoration: none !important;
	background: #ffffcc;
}

div.docdetails-infohover a span {
	display: none;
}

div.docdetails-infohover a:hover span {
	position: fixed;
	bottom: 40px;
	left: 40px;
	z-index: 30;
	text-align: justify;
	display: block;
	color: #565656;
	width: 300px;
	background: #ffffcc;
	border:1px solid #565656;
	font-family:"Comic Sans MS", sans-serif;

	padding: 12px;
	white-space: normal !important;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	transform:rotate3d(2.0,2.0,2.0, 3deg); 
		
}

/* Star Hack - this entry is only interpreted by IE 
   necessary, because it cannot handle position:fixed correctly */
* html * div.docdetails-infohover a:hover span {
	position: absolute !important;
}


/* =================================================================== */
/* Searchresult Navigation on Docdetails page
/* =================================================================== */
div.searchdetail-navigation{
   width: 140px;
   padding:6px;
   border-radius: 15px;
   margin-bottom: 12px;
   margin-top:12px;
   border-radius:5px;
   border: 1px solid #565656;
   background-color:#E6E6E6; 
}
div.searchdetail-navigation div.headline{
  text-align:center;
  font-weight:bold;
}

div.searchdetail-navigation div.hitcount{
  text-align:center;
  padding-top:3px;
  padding-bottom:3px;
}

div.searchdetail-navigation div.button{
  text-align:center;
  border: 1px solid #565656;
  border-radius: 3px;
  background-color:#969696;
  padding-left:3px;
  padding-right:3px;
}
div.searchdetail-navigation div.centerbutton{
  margin-left:36px;
  margin-right:36px;
}

div.searchdetail-navigation div.button a{
  color:white;
}

/* =================================================================== */
/* Special Formats                                                     */
/* =================================================================== */

ul.pndbeaconlist{
 	margin-top:12px;
}