/* =================================================================== */
/* generic CSS for Profkat                                             */
/* =================================================================== */

/* ------------------------------------------------------------------- */
/* Indexbrowser                                                        */
/* ------------------------------------------------------------------- */

.indexbrowser-btn{
      min-width: 1.5em;
      margin-top:0.40em;
      padding-left:0.40em;
      padding-right:0.40em;
}


/* =================================================================== */
/* Docdetails                                                          */
/* =================================================================== */

div.docdetails-tabbar-info{
	font-style: italic; 
	color: grey; 
	padding-right:1em; padding-top:.8em;
	float:right !important;
}
	
div.docdetails-header {

	vertical-align: bottom;
	margin-bottom:.4em;
	min-height:1em;
}

div.docdetails-block{
	margin-top:1em;
	margin-left:1em;
}


div.docdetails-image div{
	max-width:250px;
	margin-left:auto;
	margin-right:auto;
}

/* global docdetails for profkat -> own file */
.docdetails-info{
	display: block;
    float: left;
   min-width: 2em;
}

.docdetails-info-btn{
	border:none;
	padding:0px;
}

div.docdetails-infobox a {
	color:black;
}


.docdetails-table-div{
	margin-left:3em;
}

.docdetails-table tr > td,
.docdetails-table tr > th{
	vertical-align: top;
}

.docdetails-table.col2 tr > td:nth-child(1){
	width:8em;
}

.docdetails-table.col3 tr > td:nth-child(1){
	width:8em;
}

.docdetails-table.col3 tr > td:nth-child(2){
	width:6em;
}

.docdetails-table.col_derivates tr > th:nth-child(1){
	width:15em;
}

.docdetails-table.col_derivates tr > td.icon{
	width:1.8em;
	font-size: 2.2em;
	vertical-align: middle;
	padding: 0 0.5em 0.5em 0.5em;
}

.docdetails-tabbar{
	margin-top:2em;
}

div.docdetails-separator {
	margin-top:.8em;
}
div.docdetails-separator hr {
	border-top: 1px solid #565656;
	height: 1px;	
}

.docdetails-separator + .docdetails-separator {
	display:none;
}

div.docdetails-label {
	white-space:nowrap;
	color:#565656;
	font-family: Verdana,Arial,sans-serif;
	margin-left:2em;
	margin-bottom:0.2em;
}

div.docdetails-image{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:6px;
	padding-right:6px;
}

div.docdetails-image img{
	display: block;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}
div.docdetails-image-footer{
	font-size:0.8em;
}

span.docdetails-citation{
	float:right;
	padding-top:1em;
	font-style:italic;
	width: 66%;
    text-align: right;
}

/* ------------------------------------------------------------------- */
/* CSS für biographische Artikel                                       */
/* ------------------------------------------------------------------- */

div.article{
	text-align:justify;
	font-family:Verdana,Arial,sans-serif;
	font-size:11pt;
	line-height:150%;
}

div.article blockquote{
	line-height:110%;
	font-size:10pt;
}
	
div.article h1{
	text-align:center;
	font-size:14pt;
	font-weight:bold;
}

div.article h2{
	text-align:center;
	font-size:11pt;
	font-weight:bold;
}

div.article div.author{
	margin-top:30px;
	text-align:right;
	font-style:italic;
}

div.article div.footnotes{
	line-height:110%;
	margin-top:40px;
	font-size:8pt;
}
div.article div.list{
	text-align:left;
	font-size:10pt;
}

.profkat-editor-metadata .ir-editor-label-hint{
	font-size:85%;
}

.profkat-editor-metadata .profkat-input-date-technical{
	font-size: .8rem;
	padding: .35rem;
	font-family: Monospace;
}