/* =================================================================== */
/* $Revision: 1.13 $ $Date: 2011/01/31 04:00:23 $                      */
/* CSS für biographische Artikel                                      */
/* =================================================================== */

div.article{
	text-align:justify;
	font-family:Verdana,Arial,sans-serif;
	font-size:11pt;
	line-height:150%;
}

div.article blockquote{
	line-height:110%;
	font-size:10pt;
}
	
div.article h1{
	text-align:center;
	font-size:14pt;
	font-weight:bold;
}

div.article h2{
	text-align:center;
	font-size:11pt;
	font-weight:bold;
}

div.article div.author{
	margin-top:30px;
	text-align:right;
	font-style:italic;
}

div.article div.footnotes{
	line-height:110%;
	margin-top:40px;
	font-size:8pt;
}
div.article div.list{
	text-align:left;
	font-size:10pt;
}
