/* CSS for documentation */

body{
	width:750px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:100px;
}

.hidden {
	visibility: hidden; 
}

h2{
	margin-top:36px;	
}

h3{
	margin-top:24px;	
}

h4{
	margin-top:12px;	
}

p{
	text-align: justify;
}
ul.commandline{
	display:block;
	padding-top:6px;
	padding-bottom:6px;
	margin-top:12px;
	background:lightgrey;
	border: 1px solid darkgrey;
	font-family: monospace;
	font-weight: bold;
	line-height: 150%;
	list-style-type: none;
}

ul.commandline li{
	text-indent:-24px;
}

ul.commandline li:before {
 content: "$ \020";
 color:#464646;
}

ul.commandline.mysql li{
	text-indent:-72px;
	margin-left:48px;
}

ul.commandline.mysql li:before {
 content: "mysql>\020";
 color:#464646;
}

ul.commandline.postgres li{
	text-indent:-72px;
	margin-left:48px;
}
ul.commandline.postgres li:before {
 content: "postgres=#\020";
 color:#464646;
} 
.variable{
	font-family: monospace;
	padding: 0 3px;
}

.filename{
	font-family: monospace;
	font-style: italic;
	padding: 0 3px;
}

.textfile{
	font-family: monospace;
	white-space:pre;
	border: 1px solid darkgrey;
	font-family: monospace;
	background:#F6F6F6;
	text-indent: -20px;
	padding-left: 16px;
	margin-top:4px;
	margin-left:24px;
	margin-bottom:24px;
}

table{
	width:100%;
	border-collapse:collapse;
}

table td, table th{
	border:1px solid darkgrey;
	padding:2px;
}
table th{
	padding-right:6px;
}

table tr th{
	text-align: right;
	min-width:25%;
}	